#payment{
    .payment-container{
        position: fixed;
        top: 0;
        width: 100%;
        background: #EDEDED;
        z-index: 1800;
        height: 100vh;
        overflow: scroll;
        left: 0;
        overflow-x: hidden;

        .header{
            height: 80px;
            background: #0F0F19;
            .header-container{
                height: 100%;
                display: flex;
                justify-content: center;
                color: black;
                .content{
                    width: 90%;
                    text-align: center;
                    background: #fff;
                    height: 80px;
                    border-radius: 15px;
                    margin-top: 45px;
                    -webkit-box-shadow: 0 8px 16px 0 rgba(0,0,0,.1), 0 0 6px 0 rgba(0,0,0,.1);
                    box-shadow: 0 8px 16px 0 rgba(0,0,0,.1), 0 0 6px 0 rgba(0,0,0,.1);
                    label{
                        line-height: 80px;
                        font-size: 1.5rem;
                    }
                }
            }   
        }
        .firs-card{
            margin-top: 5rem;
        }
        .card{
            width: 90%;
            left: 5%;
            border-radius: 15px;
            -webkit-box-shadow: 0 8px 16px 0 rgba(0,0,0,.1), 0 0 6px 0 rgba(0,0,0,.1);
            box-shadow: 0 8px 16px 0 rgba(0,0,0,.1), 0 0 6px 0 rgba(0,0,0,.1);
            margin-bottom: 15px;

            .card-header{
                background-color: transparent;
            }
        }

    }
    
}