.close-container {
  display: flex;
  font-size: 1em;
  padding: 10px;
  width: 100%;
}
.close-container h1 {
  font-size: 1.2rem !important;
  margin: 0;
  font-weight: bold;
}
.close-container button {
  background: transparent;
  border: none;
  margin-right: 10px;
}
