.configuration-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: auto;
  height: 100vh;
  z-index: 1800;
  background: #f2f2f2;
}
.configuration-container .option-to-configure {
  height: 34px;
}
.configuration-container .option-to-configure b {
  line-height: 34px;
}
.configuration-container .option-to-configure .switch {
  position: relative;
  float: right;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.configuration-container .option-to-configure label {
  margin-bottom: 0;
}
.configuration-container .option-to-configure .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.configuration-container .option-to-configure .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.configuration-container .option-to-configure .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.configuration-container .option-to-configure input:checked + .slider {
  background-color: #F96302;
}
.configuration-container .option-to-configure input:focus + .slider {
  box-shadow: 0 0 1px #F96302;
}
.configuration-container .option-to-configure input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.configuration-container .option-to-configure .slider.round {
  border-radius: 34px;
}
.configuration-container .option-to-configure .slider.round:before {
  border-radius: 50%;
}
